@import "tailwindcss";

body 
{
  background: #838383; /* Gradiente claro por padrão */
  font-family: Arial, Helvetica, sans-serif;
}


.text-placeholder
{
  color: #333333;
}

.text-input-title 
{
  @apply drop-shadow-lg text-white font-serif text-lg /* Exemplo de text-shadow */
}

.input-style-standard
{
  @apply w-full p-2 border rounded-md border-gray-300 focus:outline-none focus:ring-1 focus:ring-orange-100 shadow-md
}

.input-style-error
{
  @apply w-full p-2 border rounded-md border-red-500 focus:outline-none focus:ring-1 focus:ring-orange-100 shadow-md
}

.text-success
{
  @apply text-green-500 text-sm;
}

.text-error
{
  @apply text-red-500 text-sm;
}


